<li>
  <%= email_account.email %>
  | <%= link_to "delete", [:settings, email_account], :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{email_account.email}" %>
</li>